a{
    text-decoration: underline !important;
}
.fa{
    color:blue;
}
.box{
    background-color: rgb(131, 95, 125);
    padding: 20px 5px;
}
.box-in{
    background-color: white;
    margin: 30px 20px 20px 20px;
    border-radius: 10%;
    padding: 50px;
    text-align: center;
}